{{ extend './layout.html' }}

{{ block 'link' }}
<link rel="stylesheet" href="../public/css/editProfile.css">
{{ /block }}

{{ block 'content' }}
<h2>profile</h2>

{{ if user}}
    <form id="profileForm">
        <label for="">email</label>
        <input type="text" name="email" value={{user.email}}>
        <br>
        <label for="">nickname</label>
        <input type="text" name="nickname" value={{user.nickname}}>
        <br>
    </form>
    <div class="avatar">
         <img src= {{user.avatar}}>
    </div>
    <!-- <form action="/uploadAvatar" method="POST" enctype="multipart/form-data">
        <input type="file" name="fileUpload" id="fail">
        <input type="submit" value="上传图片">
    </form> -->
    <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
        <input type="file" name="image" size="100" />
        <br />
        <input type="text" name="test">
        <input type="submit" value="上传文件" />
    </form>
    <button onclick="editProfile()">确认修改</button>
{{ /if }}
{{ /block }}

{{ block 'script'}}
<script>
    function uploadAvatar(){
        console.log('上传图片');
    }
    function editProfile(){
        let data = $('#profileForm').serialize();
        console.log(data);
        $.ajax({
            url: '/editProfile',
            type: 'POST',
            dataType: 'json',
            data,
            success: function(data){
                if(data.code === 0){
                    window.alert('修改成功');
                    window.location.href = 'profile'
                }else if(data.code === 500){
                    window.alert('服务器忙，请稍后再试！');
                }
            }
        })
    }
</script>
{{ /block }}