
<div class="header">
    {{ if user }}
    <div class="header-login">
        <div class="logo">
            <img src="../public/img/avatar-default.png" onclick="returnIndex()" alt="">
        </div>
        <div class="dropdown">
            {{ if user.avatar }}
            <img src={{user.avatar}} onmouseover="dropdownshow()" alt="user avatar">
            {{ else }}
            <img src="../public/img/avatar-default.png" alt="user avatar">
            {{ /if }}
            <ul class="showProfile" onmouseout="dropdownhide()">
                <li><a href="/profile">个人中心</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
            <button type="button" onclick="writeBlog()" class="btn btn-primary btn-sm createBtn">创建文章</button>
        </div>
    </div>
    {{ else }}
        <div class="header-unlogin">
            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="btnGroup">
                <button type="button" onclick="login()" class="btn btn-primary btn-sm">登录</button>
                <button type="button" onclick="register()" class="btn btn-info btn-sm">注册</button>
            </div>
        </div>
    {{ /if }}
</div>
<script>
    function login(){
        window.location.href = '/login';
    }
    function register(){
        window.location.href = '/register';
    }
    function dropdownshow(){
        $('.showProfile').css('display', 'block');
    }
    function dropdownhide(){
        $('.showProfile').css('display', 'none');
    }
    function writeBlog(){
        window.location.href = '/writeBlog'
    }
    //返回首页
    function returnIndex(){
        window.location.href = '/';
    }
</script>