{{extend './layout.html'}}

<!-- 填 名为 link 的坑 -->
{{block 'link'}}
{{/block}}

<!-- 填 名为 content 的坑 -->
{{block 'content'}}
<h1>index content</h1>

<div class="text-success">成功的消息</div>

<div class="container">
    <div class="row" >
        <div class="col-xs-6 col-sm-3" 
            style="background-color: #dedef8;
            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-xs-6 col-sm-3" 
        style="background-color: #dedef8;box-shadow: 
        inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut. 
            </p>
        </div>
 
        <div class="clearfix visible-xs"></div>
 
        <div class="col-xs-6 col-sm-3" 
        style="background-color: #dedef8;
        box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
        </div>
        <div class="col-xs-6 col-sm-3" 
        style="background-color: #dedef8;box-shadow: 
        inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim 
            </p>
        </div>
    </div>
</div>
<section class="container">
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                <a href="#">
                    <img width="40" height="40" class="media-object" src="../public/img/avatar-default.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"><a href="">Media heading</a></h4>
                <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
                </div>
            </li>
            <li class="media">
                    <div class="media-left">
                    <a href="#">
                        <img width="40" height="40" class="media-object" src="" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                    <h4 class="media-heading"><a href="">Media heading</a></h4>
                    <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
                    </div>
                </li>
                <li class="media">
                        <div class="media-left">
                        <a href="#">
                            <img width="40" height="40" class="media-object" src="" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                        <h4 class="media-heading"><a href="">Media heading</a></h4>
                        <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
                        </div>
                    </li>
                    <li class="media">
                            <div class="media-left">
                            <a href="#">
                                <img width="40" height="40" class="media-object" src="" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading"><a href="">Media heading</a></h4>
                            <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
                            </div>
                        </li>
        </ul>
</section>
{{/block}}