{{ extend './layout.html' }}

{{block 'link'}}
<link rel="stylesheet" href="../public/css/profile.css">
{{/block}}

{{ block 'content' }}

<h2>profile</h2>

{{ if user}}
    <div>{{user.nickname}}</div>
    <div>{{user.email}}</div>
    <div class="avatar">
         <img src= {{user.avatar}}>
    </div>
    <div><button><a href="/editProfile">修改个人信息</a></button></div>
{{ /if }}

{{ if articles }}
    {{each articles}}
        <!-- {{$index}} {{$value}} -->
        <div><span>title: </span>{{$value.title}}</div>
        <div><span>content: </span>{{#$value.content}}</div>
    {{/each}}
{{ /if }}

{{ /block }}

{{ block 'script'}}
{{ /block }}