<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- 表单具有默认的同步提交方法，在提交时浏览器锁死，并且会将服务器返回的东西直接渲染到页面上，覆盖原先的页面，因此需要使用ajax -->
    <form action="/register" method="post" id="registerForm">
        <label for="email">email</label><br>
        <input type="text" id="email" placeholder="email address" name="email">
        <br>
        <label for="nickname">nickname</label><br>
        <input type="text" id="nickname" placeholder="nickname" name="nickname">
        <br>
        <label for="password">password</label><br>
        <input type="text" id="password" placeholder="password" name="password">
        <br>
        <input type="submit" value="register" id="registerBut">
    </form>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#registerBut').on('click', function(e){
                e.preventDefault();
                // 序列化表单
                let data = $("#registerForm").serialize();
                console.log(data);
                $.ajax({
                    url: '/register',
                    type: 'post',
                    data: data,
                    dataType: 'json',
                    success: function(data){
                        if(data.code === 0){
                            window.alert('注册成功');
                            window.location.href = '/'
                        }else if(data.code === 1){
                            window.alert('邮箱或用户名已被注册')
                        }else if(data.code === 500){
                            window.alert('服务器忙')
                        }
                    },
                    error: function(err){
                        console.log('error: ' + err);
                    }
                })
            })
        })
    </script>
</body>
</html>